@media (min-width: 1200px) {
  .nav {
    &__menu-top {
      font-size: 1.4rem;

      .menu-top-number {
        font-size: 2rem;
      }
    }
    &__menu-bottom {
      .nav-link {
        font-size: 1.8rem;
      }
    }
  }

  .header {
    &__btn {
      font-size: 1.8rem;
    }

    &__social-icons {
      .fb-icon,
      .ig-icon {
        svg {
          width: 50px;
          height: 50px;
          fill: colors.$white;
          transition: fill 0.2s;
        }
      }
    }
  }

  .services {
    display: flex;
    justify-content: space-between;
    padding: 8rem 1rem;
    width: 100%;

    .section-title {
      font-size: 4.7rem;
    }

    &__description {
      padding-bottom: 5rem;
      padding-right: 1rem;
      width: 30%;
    }

    &__text {
      padding: 1rem 0 3rem;
      font-size: 1.8rem;
    }

    &__btn {
      font-size: 1.6rem;
    }

    &__cards {
      width: 70%;
    }

    &__card {
      width: 25%;
    }
  }
  .packages {
    padding: 0 1rem;

    .section-title {
      text-align: center;
    }

    &__cards {
      gap: 4rem;
    }

    &__card {
      width: 31%;

      &--title {
        font-size: 2.8rem;
      }

      &--text {
        padding: 1rem 0;
        font-size: 1.6rem;
      }

      &--btn {
        padding: 1rem 3rem;
        font-size: 1.8rem;
      }
    }
  }

  .cooperation {
    padding: 12rem 0;

    &__text {
      font-size: 1.8rem;
    }

    &__btn-desktop {
      font-size: 1.6rem;
    }
  }

  .contact {
    &__card {
      .card-body {
        .card-title {
          font-size: 2.6rem;
        }

        .card-text {
          font-size: 1.8rem;
        }
      }
    }

    &__form {
      .form-title {
        text-align: left;
        font-size: 3rem;
      }

      form {
        label {
          font-size: 1.8rem;
        }
        input {
          margin-bottom: 1rem;
          padding: 1rem;
        }
        button {
          font-size: 1.7rem;
        }
      }
    }

    &__map {
      height: 674px;
    }
  }

  // services.html

  .header-services {
    .section-title {
      font-size: 10rem;
    }
  }

  .services-services {
    &__cards {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
    }

    &__card {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: start;
      height: 350px;
      padding-top: 8rem;
      border-bottom: none;
    }

    &__title {
      padding-bottom: 1rem;
      text-align: left;
      font-size: 3rem;
      font-weight: bold;
      color: colors.$mainColor;
    }

    &__text {
      font-size: 1.6em;
    }
  }

  // gallery

  .gallery {
    .box-gallery {
      .gallery-img {
        width: 33.3%;
        height: 400px;
      }
    }

    .number-img {
      font-size: 2.4rem;
    }

    .popup-img {
      max-width: 100%;
      max-height: 80%;
    }

    .popup-close {
      top: 2rem;
      right: 2rem;

      font-size: 6rem;
    }

    .popup-arrow {
      font-size: 6rem;
    }

    .popup-arrow--left {
      left: 2rem;
    }

    .popup-arrow--right {
      right: 2rem;
    }
  }
}
